<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- My CSS -->
    <link rel="stylesheet" href="css3/style.css">

    <!-- Font Google -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

    <!-- font awesome -->
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

    <!-- Loogo title -->
    <link rel="icon" href="aset/logo.png">

    <title>Challenge Landing Page</title>

  </head>
  <body>

    <!-- Navbar -->

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="aset/logo.png" class="logo-pojok" alt="" width="29.2px" height="29.2px">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#work">work</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact">contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">about me</a>
            </li>
            <li class="nav-item dropdown">
              <a class="tombol nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                get started
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="#">sign up</a></li>
                <li><a class="dropdown-item" href="/in">login</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!--Akhir Navbar  -->

    <!-- Banner -->

    <!-- Main Page -->
    <div class="container-fluid banner1">
      <div class="container text-center">
        <h1 class="display-1">play traditional game</h1>
        <h3 class="display-2">Experience new traditional game play</h3>
        <a href="/game">
          <button type="button" class="btn btn-warning btn-lg">
            PLAY NOW
          </button>
        </a>
      </div>
    </div>
    <!-- Akhir main page -->

    <!-- second page -->
    <div class="container-fluid banner2">
      <div class="container text-left">
        <h3 class="display-3">What's so special?</h3>
        <h2 class="display-4">THE GAME</h2>
      </div>
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="aset/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="aset/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="aset/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <!-- Akhir Second page -->
    
    <!-- Third Page -->
    <div class="container-fluid banner3">
      <div class="container text-center">
        <h3 class="whats">What's so special?</h3>
        <h2 class="features">FEATURES</h2>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-6 col-sm-4"><h4 class="if-you">If you miss your cildhood, we provide many traditional games here</h4></div>
          <div class="col-6 col-sm-4"><h3 class="traditional">TRADITIONAL GAMES</h3></div>
      
          <!-- Force next columns to break to new line at md breakpoint and up -->
          <div class="w-100 d-none d-md-block"></div>
      
          <div class="col-6 col-sm-4"><h4 class="if-you">If you miss your cildhood, we provide many traditional games here</h4></div>
          <div class="col-6 col-sm-4"><h4 class="if-you">If you miss your cildhood, we provide many traditional games here</h4></div>

          <div class="w-100 d-none d-md-block"></div>
      
          <div class="col-6 col-sm-4"><h4 class="if-you">If you miss your cildhood, we provide many traditional games here</h4></div>
          <div class="col-6 col-sm-4"><h3 class="game-suit">GAME SUIT</h3></div>

          <div class="w-100 d-none d-md-block"></div>
      
          <div class="col-6 col-sm-4"><h4 class="if-you">If you miss your cildhood, we provide many traditional games here</h4></div>
          <div class="col-6 col-sm-4"><h3 class="TBD">TBD</h3></div>
          
        </div>
      </div>
    </div>
    
    <!-- Akhir Third Page -->
    
    <!-- Akhir Banner -->








    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
  </body>
</html>